<h4>Nama : Nadifa Salsabila Purnomo</h4>
<h4>Nim  : 2209106044</h4>
<h4>Kelas: Informatika A2 2022</h4>
<h4>Posttest 2 Kecerdasan Buatan</h4>
<h4>_________________________________________________________________________________________________________________________________________________________</h4>

<h4>import pandas--> mengolah data dalam bentuk dataframe</h4>
<h4>import prettytable--> mempermudah tampilan data tabular agar lebih terstruktur</h4>
<h4>import dataset yang digunakan--> Aemf1.csv</h4>

In [1]:
import pandas as pd
import prettytable as prtl
em = pd.read_csv('Aemf1.csv')

<h4>Menampilkan informasi yang ada pada dataset, untuk melihat seberapa banyak objek di dalamnya</h4>

In [2]:
em.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41714 entries, 0 to 41713
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   City                         41714 non-null  object
 1   Price                        41714 non-null  float64
 2   Day                          41714 non-null  object
 3   Room Type                    41714 non-null  object
 4   Shared Room                  41714 non-null  bool
 5   Private Room                 41714 non-null  bool
 6   Person Capacity              41714 non-null  float64
 7   Superhost                    41714 non-null  bool
 8   Multiple Rooms               41714 non-null  int64
 9   Business                     41714 non-null  int64
 10  Cleanliness Rating           41714 non-null  float64
 11  Guest Satisfaction           41714 non-null  float64
 12  Bedrooms                     41714 non-null  int64
 13  City Center (km)             41714 non-null  float64
 14  Metro Distance (km)          41714 non-null  float64
 15  Attraction Index             41714 non-null  float64
 16  Normalised Attraction Index  41714 non-null  float64
 17  Restraunt Index              41714 non-null  float64
 18  Normalised Restraunt Index   41714 non-null  float64
dtypes: bool(3), float64(10), int64(3), object(3)
memory usage: 5.2+ MB

<h4>Menampilkan data yang bertipe numerik, saat ini yang di tampilkan adalah rata-rata, standar defiasi(std), nilai minimum, nilai maksimum, Q1,Q2 dan Q3</h4>

In [3]:
em.describe()

,Price,Person Capacity,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
count,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000,41714.000000
mean,260.094423,3.237235,0.295273,0.341180,9.442274,93.103179,1.165939,2.679792,0.603921,293.905990,11.719658,626.692618,25.553590
std,279.408493,1.299459,0.456171,0.474112,0.889173,8.141745,0.638157,1.996684,0.706206,235.750055,8.379161,520.644720,18.484572
min,34.779339,2.000000,0.000000,0.000000,2.000000,20.000000,0.000000,0.015045,0.002301,15.152201,0.926301,19.576924,0.592757
25%,144.016085,2.000000,0.000000,0.000000,9.000000,90.000000,1.000000,1.275913,0.236693,124.371614,5.510735,210.459574,11.132052
50%,203.819274,3.000000,0.000000,0.000000,10.000000,95.000000,1.000000,2.253237,0.391220,228.920599,9.951086,519.583509,21.814414
75%,297.373358,4.000000,1.000000,1.000000,10.000000,98.000000,1.000000,3.584489,0.678702,394.000201,15.467009,860.708156,36.821356
max,18545.450285,6.000000,1.000000,1.000000,10.000000,100.000000,10.000000,25.284557,14.273577,4513.563486,100.000000,6696.156772,100.000000

<h4>Menampilkan 10 data record pertama dari dataset dengan attribute bertipe angka</h4>

In [4]:
em.select_dtypes(['int64','float64']).head(10)

,Price,Person Capacity,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
0,194.033698,2.0,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473
1,344.245776,4.0,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
2,264.101422,2.0,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700
3,433.529398,4.0,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,485.552926,2.0,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677
5,552.808567,3.0,0,0,8.0,100.0,2,2.131420,1.904668,174.788957,9.255191,225.201662,15.692376
6,215.124317,2.0,0,0,10.0,94.0,1,1.881092,0.729747,200.167652,10.599010,242.765524,16.916251
7,2771.307384,4.0,0,0,10.0,100.0,3,1.686807,1.458404,208.808109,11.056528,272.313823,18.975219
8,1001.804420,4.0,0,0,9.0,96.0,2,3.719141,1.196112,106.226456,5.624761,133.876202,9.328686
9,276.521454,2.0,1,0,10.0,88.0,1,3.142361,0.924404,206.252862,10.921226,238.291258,16.604478

<h4>Menampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi ke dalam dictionary. Laluditampilkan menggunakan prettytable untuk mempermudah tampilan data tabular agar lebih terstruktur</h4>

In [6]:
dataem ={}

dataem['Jumlah Record'] = em.shape[0]
dataem['Jumlah Attribute'] = em.shape[1]
dataem['Nama Attribute'] = em.columns.tolist()
dataem['Jumlah Attribute Dengan Tipe Angka'] = em.select_dtypes(['int64','float64']).shape[1]

dictionarykey = list(dataem.keys())

table = prtl.PrettyTable()
table.add_column(dictionarykey[0], [dataem['Jumlah Record']])
table.add_column(dictionarykey[1], [dataem['Jumlah Attribute']])
table.add_column(dictionarykey[2], ['\n'.join(dataem['Nama Attribute'])])
table.add_column(dictionarykey[3], [dataem['Jumlah Attribute Dengan Tipe Angka']])

print(table)

+---------------+------------------+-----------------------------+------------------------------------+
| Jumlah Record | Jumlah Attribute |        Nama Attribute       | Jumlah Attribute Dengan Tipe Angka |
+---------------+------------------+-----------------------------+------------------------------------+
|     41714     |        19        |             City            |                 13                 |
|               |                  |            Price            |                                    |
|               |                  |             Day             |                                    |
|               |                  |          Room Type          |                                    |
|               |                  |         Shared Room         |                                    |
|               |                  |         Private Room        |                                    |
|               |                  |       Person Capacity       |                                    |
|               |                  |          Superhost          |                                    |
|               |                  |        Multiple Rooms       |                                    |
|               |                  |           Business          |                                    |
|               |                  |      Cleanliness Rating     |                                    |
|               |                  |      Guest Satisfaction     |                                    |
|               |                  |           Bedrooms          |                                    |
|               |                  |       City Center (km)      |                                    |
|               |                  |     Metro Distance (km)     |                                    |
|               |                  |       Attraction Index      |                                    |
|               |                  | Normalised Attraction Index |                                    |
|               |                  |       Restraunt Index       |                                    |
|               |                  |  Normalised Restraunt Index |                                    |
+---------------+------------------+-----------------------------+------------------------------------+

<h4>Menampilkan nilai dataset pada baris yang dimulai dari 3 digit NIM terakhir (044) hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan metode slice, saat ini menggunakan metode "loc" yang mengakses data berdasarkan nama kolom</h4>

In [7]:
em.loc[44:,dataem['Nama Attribute'][3:]]

,Room Type,Shared Room,Private Room,Person Capacity,Superhost,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
44,Private room,False,True,2.0,False,1,0,10.0,91.0,0,1.097869,0.956928,293.060670,15.517757,426.571886,29.724143
45,Private room,False,True,2.0,False,0,1,10.0,97.0,1,0.384612,0.312638,666.907625,35.313202,811.486344,56.545536
46,Private room,False,True,3.0,False,0,1,10.0,96.0,1,0.471547,0.143263,767.098827,40.618393,825.052770,57.490864
47,Entire home/apt,False,False,3.0,True,0,0,10.0,100.0,2,1.430511,1.352587,322.018769,17.051108,423.352724,29.499827
48,Private room,False,True,2.0,True,0,0,9.0,94.0,0,4.224209,1.519311,108.745892,5.758167,138.786731,9.670859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41709,Entire home/apt,False,False,6.0,False,0,1,10.0,100.0,3,0.530181,0.135447,219.402478,15.712158,438.756874,10.604584
41710,Entire home/apt,False,False,2.0,False,0,0,8.0,86.0,1,0.810205,0.100839,204.970121,14.678608,342.182813,8.270427
41711,Entire home/apt,False,False,2.0,False,0,0,10.0,93.0,1,0.994051,0.202539,169.073402,12.107921,282.296424,6.822996
41712,Private room,False,True,2.0,False,0,0,10.0,87.0,1,3.044100,0.287435,109.236574,7.822803,158.563398,3.832416
41713,Private room,False,True,4.0,True,1,0,10.0,93.0,1,1.263932,0.480903,150.450381,10.774264,225.247293,5.444140

<h4>Menampilkan nilai dataset pada baris yang dimulai dari 3 digit NIM terakhir (044) hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan metode slice, saat ini menggunakan metode "iloc" yang mengakses data berdasarkan posisi.</h4>

In [8]:
em.iloc[44:, 3:]

,Room Type,Shared Room,Private Room,Person Capacity,Superhost,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
44,Private room,False,True,2.0,False,1,0,10.0,91.0,0,1.097869,0.956928,293.060670,15.517757,426.571886,29.724143
45,Private room,False,True,2.0,False,0,1,10.0,97.0,1,0.384612,0.312638,666.907625,35.313202,811.486344,56.545536
46,Private room,False,True,3.0,False,0,1,10.0,96.0,1,0.471547,0.143263,767.098827,40.618393,825.052770,57.490864
47,Entire home/apt,False,False,3.0,True,0,0,10.0,100.0,2,1.430511,1.352587,322.018769,17.051108,423.352724,29.499827
48,Private room,False,True,2.0,True,0,0,9.0,94.0,0,4.224209,1.519311,108.745892,5.758167,138.786731,9.670859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41709,Entire home/apt,False,False,6.0,False,0,1,10.0,100.0,3,0.530181,0.135447,219.402478,15.712158,438.756874,10.604584
41710,Entire home/apt,False,False,2.0,False,0,0,8.0,86.0,1,0.810205,0.100839,204.970121,14.678608,342.182813,8.270427
41711,Entire home/apt,False,False,2.0,False,0,0,10.0,93.0,1,0.994051,0.202539,169.073402,12.107921,282.296424,6.822996
41712,Private room,False,True,2.0,False,0,0,10.0,87.0,1,3.044100,0.287435,109.236574,7.822803,158.563398,3.832416
41713,Private room,False,True,4.0,True,1,0,10.0,93.0,1,1.263932,0.480903,150.450381,10.774264,225.247293,5.444140

<h4>Menampilkan jumlah nilai dari semua attribute yang bernilai object</h4>

In [9]:
listobject = em.select_dtypes('object').columns.tolist()

for i in listobject:
    print(em[i].value_counts())

Rome         9027
Paris        6688
Lisbon       5763
Athens       5280
Budapest     4022
Vienna       3537
Barcelona    2833
Berlin       2484
Amsterdam    2080
Name: City, dtype: int64
Weekday    20886
Weekend    20828
Name: Day, dtype: int64
Entire home/apt    28264
Private room       13134
Shared room          316
Name: Room Type, dtype: int64